{% extends 'base.html' %}

{% block title %}Plywood Detail - House Estimator{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Plywood Detail</h2>
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>Name:</strong> {{ plywood.name }}</li>
                    <li><strong>Length:</strong> {{ plywood.length }} m</li>
                    <li><strong>Width:</strong> {{ plywood.width }} m</li>
                    <li><strong>Price per Sheet:</strong> ${{ plywood.price_per_sheet }}</li>
                    <li><strong>Waste Percentage:</strong> {{ plywood.waste_percentage }}%</li>
                </ul>
                <a href="{% url 'materiais:plywood_list' %}" class="btn btn-secondary">Back to Plywood</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
